:root {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    --dash-blue: #2e2868;
    --dash-symbols: #ffffff;
    --dash-title: #fff;
    --dash-text: #1eafff;
    --dash-main-logo: #1eafff; 
    --header-logos: #282b68;
    --search-bar: #dfdff2;
    --project-background: #e2e8f0;
    --gold: #facc15;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr 0.1fr;
    height: 100vh;
    margin-bottom: 5px;
    /* overflow: hidden; */
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 4px solid #c2c4ec;
    padding-bottom: 12px;
}

.search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}


#search-icon {
    /* border: 1px solid red; */
    color: var(--header-logos);
    font-weight: 600;  
    font-variation-settings:
    'FILL' 1,
    'wght' 900,
    'GRAD' 0,
    'opsz' 48
}

input[type="search"] {
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 70%;
    height: 25px;
    background-color: var(--search-bar);
    border: none;
}

.profile {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: flex-end;
    padding-right: 30px;
}


.profile p {
    font-weight: bold;
    color: var(--header-logos);
}

.profile-image {
    /* border: 1px solid red; */
    width: 50px;
    height: 50px;
    background-color: var(--gold);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

#prof-img {
    color: var(--dash-blue);
    font-size: 40px;
}

#profile-notification {
    color: var(--dash-blue);
}

.welcome {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 30px;
    width: 70%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.welcome-image {
    width: 70px;
    height: 70px;
    background-color: var(--gold);
    border-radius: 50%;
    display: grid;
    place-items: center;
    
}

#welcome-img {
    color: var(--dash-blue);
    font-size: 60px;
}


.micro-hello {
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
}

.macro-hello {
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
}

.options {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-right: 30px;
    align-self: center;
    justify-self: end;
    display: flex;
    gap: 20px;
}

.buttons{
    text-align: center;
    border: none;
    border-radius: 20px;
    background: var(--dash-blue);
    color: var(--dash-title);
    font-weight: bold;
    margin: 0;
    padding: 1vh 2vw;
    /* width: 90px; */
    
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: var(--dash-blue);
    border-right: 5px solid #b7baf1;
    display: grid;
    grid-template-rows: 80px 400px 300px;
    gap: 20px;
    font-size: 20px;
}

.dash-title {
    font-weight: bold;
    font-size: 24px;
    color: var(--dash-title);
}

.material-symbols-outlined {
    color: var(--dash-symbols);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.logo-symbol {
    color: var(--dash-main-logo);
}

.logo, 
.group-one,
.group-two {
    padding-left: 30px;
    padding-right: 30px;
    color: var(--dash-text);
}

.logo,
.menu-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: var(--search-bar);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 1fr;
    gap: 10px 30px;
}

.group-titles {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 30px;
    /* margin: 0; */
}

.group-titles h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-auto-rows: 200px;
    padding-left: 30px;
    padding-bottom: 30px;
    gap: 30px;
}

.project-card {
    background: #fff;
    border-left: 7px solid var(--gold);
    box-shadow: 3px 5px 2px #cecee2;
    padding: 20px;
    border-radius: 7px;
}

.project-card h4 {
    font-size: 14px;
    margin: 0;
}

.project-card p {
    font-size: 12px;
    margin: 10px 0 25px 0;
}

.grid-symbols span {
    color: var(--dash-blue);
}

.grid-symbols{
    text-align: right;
    padding-right: 20px;
}

.announce-trend-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    padding-right: 30px;
}

.announcement {
    background: #fff;
    box-shadow: 3px 5px 2px #cecee2;
    padding: 20px;
}

.trending {
    background: #fff;
    box-shadow: 3px 5px 2px #cecee2;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.trending-container {
    /* border: 1px solid blue */
}

.trending-container h4{
    margin: 10px 0;
}

.announce p {
    font-size: 11px;
}

.trends {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.trends p {
    font-size: 11px;
    margin: 7px 0;

}

.trend-at {
    font-weight: bold;
}

hr {
    margin: 20px 0;
}

.announce h5 {
    margin: 0;
}

.color1, 
.color2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.color1 {
    background-color: #2e2868;
}

.color2 {
    background-color: var(--gold);
}

footer {
    text-align: center;
    font-size: 12px;
    grid-column: 1 / 3;
    /* background: var(--search-bar); */
    /* padding: 5px; */
  

}